*{
    margin: 0;
    padding: 0;
}

header{
    margin-top: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.program{
    margin: 1rem;
}

.buttons{
    margin-top: 1rem;
    gap: 1rem;
}

.buttons button{
    padding: 10px;
    background-color: rgb(217, 217, 217);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}